{% macro js(src) %}
<script src="{{ STATIC_ROOT }}/app/js/admin/{{ src }}.js"></script>
{% endmacro %}

{% macro jsVendor(src) %}
<script src="{{ STATIC_ROOT }}/vendor/js/{{ src }}.js"></script>
{% endmacro %}

{% macro css(src) %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_ROOT }}/app/css/admin/{{ src }}.css" media="all">
{% endmacro %}

{% macro cssVendor(src) %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_ROOT }}/vendor/css/{{ src }}.css" media="all">
{% endmacro %}

{% macro img(src) %}{{ STATIC_ROOT }}/admin/img/{{ src }}{% endmacro %}