{% extends 'layouts/default.html' %}

{% block content %}
<form id="loginForm" method="post" action="{{ loginPath() | e }}" novalidate
      v-class="error: !!error"
      v-on="submit: submit">
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email"
               v-model="form.email">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"
               v-model="form.password">
    </div>
    <div class="error" v-if="error" v-text="error"></div>
    <div>
        <button v-attr="disabled: !submittionAllowed">Login</button>
    </div>
</form>
<div>
    <a href="{{ registrationPath() | e }}">Register new user</a>
</div>
<script>
    App.loginForm = {
        el: '#loginForm'
    };
</script>
{% endblock %}