{% extends 'layouts/default.html' %}

{% import 'macros/form.html' as form %}

{% block content %}
<form method="post" action="{{ loginPath() | e }}" novalidate
      v-component="login-form"
      v-with="loginForm"
      v-on="submit: submit">
    <div>
        {{ form.input('Email', 'email', '', { type: 'email', autocomplete: true }) }}
    </div>
    <div>
        {{ form.input('Пароль', 'password', '', { type: 'password' }) }}
    </div>
    {{ form.error() }}
    <div>
        <button type="submit"
                v-attr="disabled: !submittionAllowed">Войти</button>
    </div>
</form>
<div>
    <a href="{{ registrationPath() | e }}">Регистрация</a>
</div>
{% endblock %}

{% block pageScript %}
<script>
    App.page = new Vue({
        el: document.documentElement,
        data: {
            loginForm: {}
        }
    });
</script>
{% endblock %}