{% extends 'layouts/default.html' %}

{% block content %}
<form id="registrationForm" method="post" action="{{ registrationPath() | e }}" novalidate
      v-class="error: !!error"
      v-on="submit: submit">
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email"
               v-model="form.email">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"
               v-model="form.password">
    </div>
    <div class="error" v-if="error" v-text="error"></div>
    <div>
        <button v-attr="disabled: !submittionAllowed">Register</button>
    </div>
</form>
<script>
    App.registrationForm = {
        el: '#registrationForm'
    };
</script>
{% endblock %}