{% extends 'layouts/default.html' %}
        
{% block appScripts %}
    {{ super() }}
    {% script 'user/registration' %}
{% endblock %}

{% block content %}
<form id="registrationForm" method="post" action="{{ registrationPath() | e }}" novalidate
      v-on="submit: submit">
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email"
               v-model="fields.email"
               v-class="error: fieldErrors.email">
        <div class="error-message" v-if="fieldErrors.email" v-text="fieldErrors.email"></div>
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"
               v-model="fields.password"
               v-class="error: fieldErrors.password">
        <div class="error-message" v-if="fieldErrors.password" v-text="fieldErrors.password"></div>
    </div>
    <div class="error-message" v-if="formError" v-text="formError"></div>
    <div>
        <button v-attr="disabled: !submittionAllowed">Register</button>
    </div>
</form>
<script>
    App.registrationForm = {
        el: '#registrationForm'
    };
</script>
{% endblock %}