{% import 'admin/macros/assets.html' as asset -%}

{% macro navMenuItem(title, icon, href, hint, active) %}
<li{% if active %} class="active"{% endif %}><a href="{{ href }}" title="{{ hint }}"><i class="icon-{{ icon }}"></i>{{ title }}</a></li>
{% endmacro -%}

{% macro navLineItem(title, link, isLast) %}
{% if link %}{% set tag = 'a' %}{% else %}{% set tag = 'span' %}{% endif -%}
<li{% if isLast %} class="active"{% endif %}><{{ tag }}{% if link %} href="{{ link }}"{% endif %}>{{ title }}</{{ tag }}></li>
{% endmacro -%}

{% macro header(title, description) %}
<div class="page-header">
    <div class="page-title">
        <h5>{{ title }}</h5>
        {% if description %}
            <span>{{ description }}</span>
        {% endif %}
    </div>
</div>
{% endmacro -%}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>{% block title %}{{ title or app.name + ' admin' }}{% endblock %}</title>

    {% block head %}{% endblock %}

    {% block styles %}
        {% block vendorStyles %}{% endblock %}

        {% block appStyles %}
            {{ asset.css('styles') }}
            <!--[if IE 8]>{{ asset.css('ie8') }}<![endif]-->
        {% endblock %}
    {% endblock %}

    {% block scripts %}
        {% block vendorScripts %}
            {% script vendor 'jquery' %}
            {% script vendor 'jquery-ui' %}
            {% script vendor 'bootstrap' %}
            {% script vendor 'vue' %}
            {% script vendor 'lodash' %}
            {% script vendor 'jquery.collapsible' %}
            {% script vendor 'jquery.uniform' %}
        {% endblock %}

        {% block appScripts %}
            <script>var App = {};</script>
            {% script admin 'common' %}
        {% endblock %}
    {% endblock %}
</head>

<body>

<!-- Fixed top -->
<div id="top">
    <div class="fixed">
        <a href="index.html" title="" class="logo"><img src="{{ asset.img('logo.png') }}" alt=""/></a>
        <ul class="top-menu">
            <li><a class="fullview"></a></li>
            <li><a class="showmenu"></a></li>
            <li><a href="#" title="" class="messages"><i class="new-message"></i></a></li>
            <li class="dropdown">
                <a class="user-menu" data-toggle="dropdown"><img src="{{ asset.img('userpic.png') }}" alt=""/><span>Howdy, Eugene! <b
                    class="caret"></b></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" title=""><i class="icon-user"></i>Profile</a></li>
                    <li><a href="#" title=""><i class="icon-inbox"></i>Messages<span
                        class="badge badge-info">9</span></a></li>
                    <li><a href="#" title=""><i class="icon-cog"></i>Settings</a></li>
                    <li><a href="#" title=""><i class="icon-remove"></i>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /fixed top -->


<!-- Content container -->
<div id="container">

    <!-- Sidebar -->
    <div id="sidebar">

        <!-- Main navigation -->
        <ul class="navigation widget">
            {{ navMenuItem('Пользователи', 'group', adminUsersPath(), 'Список пользователей', pageType == 'users') }}
        </ul>
            <!-- /main navigation -->

    </div>
    <!-- /sidebar -->


    <!-- Content -->
    <div id="content">

        <!-- Content wrapper -->
        <div class="wrapper">

            <!-- Breadcrumbs line -->
            {% block navLine %}
                <div class="crumbs">
                    <ul class="breadcrumb">
                        {% block navLineItems %}{% endblock %}
                    </ul>
                </div>
            {% endblock %}
            <!-- /breadcrumbs line -->

            <!-- Page header -->
            {% block header %}{% endblock %}
            <!-- /page header -->

            {% for message in flash.success %}
                <div class="alert alert-success">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in flash.error %}
                <div class="alert alert-error">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}

        </div>
        <!-- /content wrapper -->

    </div>
    <!-- /content -->

</div>
<!-- /content container -->

<!-- Footer -->
<div id="footer">
    <ul class="footer-links">
        <!--<li><a href="" title=""><i class="icon-cogs"></i>Contact admin</a></li>-->
        <!--<li><a href="" title=""><i class="icon-screenshot"></i>Report bug</a></li>-->
    </ul>
</div>
<!-- /footer -->

{% block pageScript %}{% endblock %}

</body>
</html>