{% extends 'admin/layouts/default.html' %}
{% import 'admin/macros/form.html' as form %}

{% set pageType = 'users' %}
{% set hideHeader = !user %}

{% block vendorScripts %}
    {% parent %}
    {% script 'vendor' 'jquery.select2' %}
{% endblock %}

{% block navLineItems %}
    {{ navLineItem('Пользователи', adminUsersPath()) }}
    {% if user %}
        <li class="active"><a href="{{ editAdminUserPath(user) | e }}"><span v-text="userForm.fields.email || '...'">{{ user.email }}</span></a></li>
    {% else %}
        {{ navLineItem('Неизвестный пользователь', null, true) }}
    {% endif %}
{% endblock %}

{% block headerTitle %}Пользователь <span v-text="userForm.fields.email || '...'">{{ user.email }}</span>{% endblock %}
{% block headerDescription %}Редактирование учетной записи пользователя</span>{% endblock %}

{% block content %}
    {% if user %}
        <form class="form-horizontal" action="{{ adminUserPath(user) | e }}" method="post" novalidate
              v-component="edit-user-form"
              v-with="userForm"
              v-on="submit: submit">
            <input type="hidden" name="_method" value="put">
            <fieldset>
                <div class="widget row-fluid">
                    <div class="well">
                        {{ form.success() }}
                        {{ form.error() }}

                        <div class="control-group">
                            {{ form.input('ID', '_id', user._id.toString(), { readonly: true }) }}
                        </div>

                        <div class="control-group">
                            {{ form.input('Email', 'email', user.email, { type: 'email' }) }}
                        </div>

                        <div class="control-group">
                            <label for="roles" class="control-label">Роли:</label>
                            <div class="controls">
                                <select id="roles" name="roles" data-placeholder="Выберите роли пользователя..." class="select" multiple="multiple">
                                    <option value=""></option>
                                    {% for role in rolesList %}
                                        <option value="{{ role }}"
                                                {%- if user.hasRoles(role) %} selected{% endif %}>{{ role }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="error-message" v-cloak v-if="fieldErrors." v-text="fieldErrors.{{ name }}"></div>
                        </div>

                        <div class="form-actions align-center">
                            <button type="submit" class="btn btn-primary"
                                    v-attr="disabled: !submittionAllowed">Сохранить</button>
                            <button type="reset" class="btn"
                                    v-attr="disabled: submitting">Сбросить изменения</button>
                        </div>

                    </div>
                </div>
            </fieldset>
        </form>
    {% else %}
        <div class="alert sans align-center margin">Пользователь не найден</div>
    {% endif %}
{% endblock %}

{% block pageScript %}
<script>
    $('#roles').select2({
        allowClear: true
    });

    App.page = new Vue({
        el: document.documentElement,
        data: {
            userForm: {}
        }
    });
</script>
{% endblock %}