{% extends 'admin/layouts/default.html' %}

{% set pageType = 'users' %}
{% set hideHeader = !user %}

{% block vendorScripts %}
    {% parent %}
    {% script 'vendor' 'jquery.select2' %}
{% endblock %}

{% block navLineItems %}
    {{ navLineItem('Пользователи', adminUsersPath()) }}
    {% if user %}
        <li class="active"><a href="{{ editAdminUserPath(user) | e }}"><span v-text="userForm.fields.email || '...'">{{ user.email }}</span></a></li>
    {% else %}
        {{ navLineItem('Неизвестный пользователь', null, true) }}
    {% endif %}
{% endblock %}

{% block headerTitle %}Пользователь <span v-text="userForm.fields.email || '...'">{{ user.email }}</span>{% endblock %}
{% block headerDescription %}Редактирование учетной записи пользователя{% endblock %}

{% block content %}
    {% if user %}
        {% include 'admin/users/userForm.html' %}
    {% else %}
        <div class="alert sans align-center margin">Пользователь не найден</div>
    {% endif %}
{% endblock %}

{% block pageScript %}
<script>
    App.page = new Vue({
        el: document.documentElement,
        data: {
            userForm: {}
        }
    });
</script>
{% endblock %}