{% extends 'admin/layouts/default.html' %}

{% block content %}
    <div class="widget">
        <div class="navbar">
            <div class="navbar-inner"><h6>Пользователи</h6></div>
        </div>
        <div class="table-overflow">
            <table id="usersTable" class="table table-striped table-bordered"></table>
        </div>
    </div>

    <script>
        $(function () {
            var linkToUser = _.template('<a href="<%- url %>"><%- email %></a>');

            $('#usersTable').dataTable({
                sAjaxSource: '{{ adminUsersTablePath() | addslashes }}',
                aoColumns: [
                    {
                        sName: 'email',
                        sTitle: 'Email',
                        mData: 'email',
                        mRender: function (email, type, user) {
                            return linkToUser(user);
                        }
                    },
                    {
                        sName: 'roles',
                        sTitle: 'Роли',
                        mData: 'roles'
                    }
                ]
            });
        });
    </script>
{% endblock %}