{% extends 'admin/layouts/default.html' %}

{% set pageType = 'users' %}

{% block vendorScripts %}
    {{ super() }}
    {% script vendor 'jquery.datatables' %}
{% endblock %}

{% block navLineItems %}
    {{ navLineItem('Пользователи', adminUsersPath()) }}
{% endblock %}

{% block header %}
    {{ header('Пользователи', 'Список зарегистрированных пользователей') }}
{% endblock %}

{% block content %}
    <div class="widget">
        <div class="navbar">
            <div class="navbar-inner"><h6>Пользователи</h6></div>
        </div>
        <div class="table-overflow">
            <table id="usersTable" class="table table-striped table-bordered"></table>
        </div>
    </div>
{% endblock %}

{% block pageScript %}
    <script>
        $(function () {
            var linkToUser = _.template('<a href="<%- url %>"><%- email %></a>');

            $('#usersTable').dataTable({
                sAjaxSource: '{{ adminUsersTablePath() | addslashes | safe }}',
                aoColumns: [
                    {
                        sName: 'email',
                        sTitle: 'Email',
                        mData: 'email',
                        mRender: function (email, type, user) {
                            return linkToUser(user);
                        }
                    },
                    {
                        sName: 'roles',
                        sTitle: 'Роли',
                        mData: 'roles'
                    }
                ]
            });
        });
    </script>
{% endblock %}