{% extends 'admin/layouts/default.html' %}

{% set pageType = 'users' %}

{% block vendorScripts %}
    {% parent %}
    {% script 'vendor' 'jquery.datatables' %}
{% endblock %}

{% block navLine %}{% endblock %}

{% block headerTitle %}Пользователи{% endblock %}
{% block headerDescription %}Список зарегистрированных пользователей{% endblock %}

{% block content %}
    <a href="{{ newAdminUserPath() | e}}">Создать нового пользователя</a>
    <div class="widget">
        <div class="table-overflow">
            <table id="usersTable" class="table table-striped table-bordered"></table>
        </div>
    </div>
{% endblock %}

{% block pageScript %}
    <script>
        $(function () {
            var linkToUser = _.template('<a href="<%- url %>"><%- email %></a>');

            $('#usersTable').dataTable({
                sAjaxSource: '{{ adminUsersTablePath() | addslashes }}',
                aoColumns: [
                    {
                        sName: 'email',
                        sTitle: 'Email',
                        mData: 'email',
                        mRender: function (email, type, user) {
                            return linkToUser(user);
                        }
                    },
                    {
                        sName: 'roles',
                        sTitle: 'Роли',
                        mData: 'roles',
                        mRender: function (roles) {
                            return roles.sort().join(', ');
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}