{% import 'macros/assets.html' as include -%}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ title or app.name }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block head %}

        {% block styles %}
            {{ include.css('app', 'styles') }}
            {% for style in styles %}
                {{ include.css(style[0], style[1]) }}
            {% endfor %}
        {% endblock %}

        {% block scripts %}
            <script>App = {};</script>
            {{ include.js('vendor', 'jquery') }}
            {{ include.js('vendor', 'vue') }}
            {% for script in scripts %}
                {{ include.js(script[0], script[1]) }}
            {% endfor %}
        {% endblock %}

    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>