<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ title or app.name }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block head %}

        {#
        {% block styles %}
            {{ include.css('app', 'styles') }}
            {% for style in styles %}
                {{ include.css(style[0], style[1]) }}
            {% endfor %}
        {% endblock %}
        #}

        {% block scripts %}
            {% block vendorScripts %}
                {% script vendor 'jquery' %}
                {% script vendor 'vue' %}
            {% endblock %}
    
            {% block appScripts %}
                <script>var App = {};</script>
            {% endblock %}
        {% endblock %}

    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>