<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ title || app.name }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block head %}

        {% block styles %}
            {% block vendorStyles %}{% endblock %}

            {% block appStyles %}
                {% style 'styles' %}
            {% endblock %}
        {% endblock %}

        {% block scripts %}
            {% block vendorScripts %}
                {% script 'vendor' 'jquery' %}
                {% script 'vendor' 'vue' %}
                {% script 'vendor' 'lodash' %}
            {% endblock %}
    
            {% block appScripts %}
                <script>var App = {};</script>
                {% script 'components' %}
            {% endblock %}
        {% endblock %}

    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block pageScript %}{% endblock %}
</body>
</html>